<launch>

    <arg name="rate" default="100.0" />
    <arg name="prefix" default="" />
    <arg name="ik" default="$(find-pkg-share kyon_cartesio)/config/kyon_stack.yaml" />
    <arg name="gui" default="false" />
    <arg name="home" default="home"/>

    <!-- <remap from="/robot_description" to="/xbotcore/robot_description" /> -->
    <!-- <remap from="/robot_description_semantic" to="/xbotcore/robot_description_semantic" /> -->

    <include file="$(find-pkg-share cartesian_interface_ros)/launch/cartesio.launch.xml">
        <arg name="rate" value="100.0"/>
        <arg name="prefix" value="$(var prefix)"/>
        <arg name="problem_description_filename" value="$(var ik)"/>
        <arg name="markers" value="true"/>
        <arg name="home" value="$(var home)"/>
    </include>

    <node if="$(var gui)" pkg="rviz2" exec="rviz2" name="rviz" output="screen" args="-d $(find-pkg-share kyon_cartesio)/config/kyon.rviz" />

</launch>
