<launch>

  <arg name="world" default="$(find kyon_mujoco)/config/world.xml"/>
  <arg name="simopt" default="$(find kyon_mujoco)/config/options.xml"/>
  <arg name="sites" default="$(find kyon_mujoco)/config/sites.xml"/>
  <arg name="ctrlcfg" default="$(find kyon_mujoco)/config/kyon.yaml"/>
  <arg name="sdf" default="$(find kyon_mujoco)/config/sdf.yaml"/>
  <arg name="urdf" default="${ROOT}/urdf/kyon.urdf.xacro"/>
  <arg name="srdf" default="$(find kyon_srdf)/srdf/kyon.srdf.xacro"/>

  <!-- kyon configuration parameters -->
  <arg name="arms" default="false"/>
  <arg name="legs" default="true"/>
  <arg name="cameras" default="false"/>
  <arg name="payload" default="false"/>
  <arg name="wheels" default="false"/>
  <arg name="varta" default="false"/>
  <arg name="d034_li_ion" default="false"/>
  <arg name="velodyne" default="false"/>

  <param name="robot_description"
         command="$(find xacro)/xacro ${ROOT}/urdf/kyon.urdf.xacro 
         floating_joint:=true 
         upper_body:=$(arg arms)
         legs:=$(arg legs)
         cameras:=$(arg cameras) 
         velodyne:=$(arg velodyne)
         varta:=$(arg varta)
         d034_li_ion:=$(arg d034_li_ion) 
         payload:=$(arg payload)
         wheels:=$(arg wheels)"/>
         
  <param name="robot_description_semantic"
         command="$(find xacro)/xacro $(find kyon_srdf)/srdf/kyon.srdf.xacro 
         floating_joint:=true 
         upper_body:=$(arg arms) 
         legs:=$(arg legs) 
         wheels:=$(arg wheels)"/>
         
  <node pkg="kyon_mujoco" type="simulator_wrapper.bash" name="kyon_mujoco" output="screen"
    args="--name kyon --urdf-command 'rosparam get -p /robot_description' --world $(arg world) --simopt $(arg simopt) --ctrlcfg $(arg ctrlcfg) --sdf $(arg sdf) --sites $(arg sites)"/>

</launch>
