<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find cetc_sat_urdf)/urdf/parts/cetc_sat_arm.urdf.xacro" />


<!-- arms -->
<xacro:cetc_sat_arm arm_num="1"  rot="1"  parent="pelvis">
</xacro:cetc_sat_arm>

<xacro:cetc_sat_arm arm_num="2" rot="-1"  parent="pelvis">
</xacro:cetc_sat_arm>

</robot>
