<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- macro legs -->
<xacro:macro name="cetc_sat_leg" params="leg_num origin_x origin_y mirror">

<!-- links -->

<link name="hip_${leg_num}">
	<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<cylinder radius="${props['cylinder_radius']}" length="${props['cylinder_length']}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<cylinder radius="${props['cylinder_radius']}" length="${props['cylinder_length']}"/>
		</geometry>
	</collision>
</link>

<link name="upper_leg_${leg_num}">
	<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
	<visual>
		<origin xyz="${props['Leg_3_Ox'] / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<box size="${props['big_box_length']} ${props['big_box_width']} ${props['big_box_height']}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="${props['Leg_3_Ox'] / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<box size="${props['big_box_length']} ${props['big_box_width']} ${props['big_box_height']}"/>
		</geometry>
	</collision>
</link>

<link name="lower_leg_${leg_num}">
<visual>
		<origin xyz="${props['Ankle_Ox'] / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<box size="${props['small_box_length']} ${props['small_box_width']} ${props['small_box_height']}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="${props['Ankle_Ox'] / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	 		<box size="${props['small_box_length']} ${props['small_box_width']} ${props['small_box_height']}"/>
		</geometry>
	</collision>
</link>

<link name="ball_${leg_num}">
	<visual>
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<geometry>
			<sphere radius="${props['ball_radius']}"/>
		</geometry>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<geometry>
			<sphere radius="${props['ball_radius']}"/>
		</geometry>
	</collision>
</link>

<!-- joints -->

<joint name="hip_roll_${leg_num}" type="revolute">
	<parent link="pelvis"/>
	<child link="hip_${leg_num}"/>
	<origin xyz="${origin_x*props['Leg_1_Ox'] / 2} ${origin_y*(-props['Leg_1_Oy'] / 2)} ${props['Leg_1_Oz']}" rpy="${props['Leg_1_roll']} ${props['Leg_1_pitch']} ${props['Leg_1_yaw']}"/>
	<axis xyz="0 0 1"/>
   <limit lower="${hip_roll_lower[leg_num-1]}" upper="${hip_roll_upper[leg_num-1]}" effort="${motor_A_effort}" velocity="${motor_A_velocity}"/> <!-- 200 Nm, 1 rad/s-->
</joint>

<joint name="hip_pitch_${leg_num}" type="revolute">
	<parent link="hip_${leg_num}"/>
	<child link="upper_leg_${leg_num}"/>
	<origin xyz="${props['Leg_2_Ox']} ${mirror*(-props['Leg_2_Oy']/2)} ${props['Leg_2_Oz']}" rpy="${props['Leg_2_roll']} ${props['Leg_2_pitch']} ${props['Leg_2_yaw']}"/>
	<axis xyz="0 1 0"/>
   <limit lower="${hip_pitch_lower[leg_num-1]}" upper="${hip_pitch_upper[leg_num-1]}" effort="${motor_A_effort}" velocity="${motor_A_velocity}"/> <!-- 200 Nm, 1 rad/s-->
</joint>

<joint name="knee_pitch_${leg_num}" type="revolute">
	<parent link="upper_leg_${leg_num}"/>
	<child link="lower_leg_${leg_num}"/>
	<origin xyz="${props['Leg_3_Ox']} ${props['Leg_3_Oy']} ${props['Leg_3_Oz']}" rpy="${props['Leg_3_roll']} ${props['Leg_3_pitch']} ${props['Leg_3_yaw']}"/>
	<axis xyz="0 1 0"/>
   <limit lower="${knee_pitch_lower[leg_num-1]}" upper="${knee_pitch_upper[leg_num-1]}" effort="${motor_A_effort}" velocity="${motor_A_velocity}"/> <!-- 200 Nm, 1 rad/s-->
</joint>

<joint name="ball_joint_${leg_num}" type="fixed">
	<parent link="lower_leg_${leg_num}"/>
	<child link="ball_${leg_num}"/>
	<origin xyz="${props['Ankle_Ox']} ${props['Ankle_Oy']} ${props['Ankle_Oz']}" rpy="${props['Ankle_roll']} ${props['Ankle_pitch']} ${props['Ankle_yaw']}"/>
</joint>

</xacro:macro>

<!-- /macro legs -->
</robot>
