<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find dagana_urdf)/urdf/dagana_macro.urdf.xacro"/>

<!-- macro arms -->
<xacro:macro name="cetc_sat_arm" params="arm_num rot parent">
	
<!-- LINKS -->
<!-- shoulder yaw -->
<link name="shoulder_yaw_motor_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
		</geometry>
		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
		</geometry>
	</collision>
</link>

<link name="shoulder_pitch_motor_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
		</geometry>
	</collision>
</link>

<link name="shoulder_roll_motor_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 ${PI_2} 0.0"/>
	  	<geometry>
	 		<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 ${PI_2} 0.0"/>
		<geometry>
			<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
		</geometry>
	</collision>
</link>

<link name="lower_arm_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>	
		<mass value="${upper_arm_mass}"/>
		<inertia ixx="${LowerArm_xx}" ixy="${LowerArm_xy}" ixz="${LowerArm_xz}" iyy="${LowerArm_xx}" iyz="${LowerArm_yz}" izz="${LowerArm_zz}"/>
	</inertial>
	<visual>
		<origin xyz="${lower_arm_length / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
		</geometry>
	</visual>

	<collision>
		<origin xyz="${lower_arm_length / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<box size="${lower_arm_length} ${lower_arm_width} ${lower_arm_height}"/>
		</geometry>
	</collision>
</link>

<link name="elbow_pitch_motor_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
		</geometry>
	</collision>
</link>

<link name="upper_arm_${arm_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>	
		<mass value="${lower_arm_mass}"/>
		<inertia ixx="${UpperArm_xx}" ixy="${UpperArm_xy}" ixz="${UpperArm_xz}" iyy="${UpperArm_xx}" iyz="${UpperArm_yz}" izz="${UpperArm_zz}"/>
	</inertial>
	<visual>
		<origin xyz="${upper_arm_length / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
		</geometry>
		<material name="dark_grey"/>
	</visual>

	<collision>
		<origin xyz="${lower_arm_length / 2} 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<box size="${upper_arm_length} ${upper_arm_width} ${upper_arm_height}"/>
		</geometry>
	</collision>
</link>
<!-- /shoulder-elbow -->

<link name="wrist_${arm_num}">
    <inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<cylinder radius="${cylinder_radius}" length="${cylinder_length}"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</collision>
</link>

<xacro:dagana_gripper name="dagana_${arm_num}" parent_link="wrist_${arm_num}" joint_type="fixed">
	<origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:dagana_gripper>

<!-- /LINKS -->

<!-- JOINTS -->
<!-- shoulder yaw -->
<joint name="shoulder_yaw_${arm_num}" type="revolute">
	<parent link="${parent}"/>
	<child link="shoulder_yaw_motor_${arm_num}"/>
	<origin xyz="${ShoulderYaw_Ox - ShoulderYaw_OffsetX} ${rot * ShoulderYaw_Oy - rot * ShoulderYaw_OffsetY} ${ShoulderYaw_Oz - ShoulderYaw_OffsetZ}" rpy="${-rot * ShoulderYaw_roll} ${ShoulderYaw_pitch} ${ShoulderYaw_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_shoulder_yaw_lower[arm_num-1]}" upper="${j_shoulder_yaw_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<joint name="shoulder_roll_${arm_num}" type="revolute">
	<parent link="shoulder_yaw_motor_${arm_num}"/>
	<child link="shoulder_roll_motor_${arm_num}"/>
	<origin xyz="0. 0. 0." rpy="0. 0. 0."/>
	<axis xyz="1 0 0"/>
	<limit lower="${j_shoulder_yaw_lower[arm_num-1]}" upper="${j_shoulder_yaw_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<joint name="shoulder_pitch_stator_${arm_num}" type="fixed">
	<parent link="shoulder_roll_motor_${arm_num}"/>
	<child link="shoulder_pitch_motor_${arm_num}"/>
	<origin xyz="${ShoulderPitch_Ox} ${ShoulderPitch_Oy} ${ShoulderPitch_Oz}" rpy="${ShoulderPitch_roll} ${ShoulderPitch_pitch} ${ShoulderPitch_yaw}"/>
</joint>

<!-- arm pitch 1 -->
<joint name="shoulder_pitch_${arm_num}" type="revolute">
	<parent link="shoulder_pitch_motor_${arm_num}"/>
	<child link="lower_arm_${arm_num}"/>
	<origin xyz="${LowerArm_Ox} ${LowerArm_Oy} ${LowerArm_Oz}" rpy="${LowerArm_roll} ${LowerArm_pitch} ${LowerArm_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_1_lower[arm_num-1]}" upper="${j_pitch_1_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<joint name="elbow_pitch_stator_${arm_num}" type="fixed">
	<parent link="lower_arm_${arm_num}"/>
	<child link="elbow_pitch_motor_${arm_num}"/>
	<origin xyz="${ElbowPitch_Ox} ${ElbowPitch_Oy} ${ElbowPitch_Oz}" rpy="${ElbowPitch_roll} ${ElbowPitch_pitch} ${ElbowPitch_yaw}"/>
</joint>

<!-- arm pitch 2 -->
<joint name="elbow_pitch_${arm_num}" type="revolute">
	<parent link="elbow_pitch_motor_${arm_num}"/>
	<child link="upper_arm_${arm_num}"/>
	<origin xyz="${UpperArm_Ox} ${UpperArm_Oy} ${UpperArm_Oz}" rpy="${UpperArm_roll} ${UpperArm_pitch} ${UpperArm_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_2_lower[arm_num-1]}" upper="${j_pitch_2_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>
	
<!-- end effector  -->
<joint name="wrist_joint_${arm_num}" type="revolute">
	<parent link="upper_arm_${arm_num}"/>
	<child link="wrist_${arm_num}"/>
	<origin xyz="${EndEffector_Ox} ${EndEffector_Oy} ${EndEffector_Oz}" rpy="${EndEffector_roll} ${EndEffector_pitch} ${EndEffector_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_2_lower[arm_num-1]}" upper="${j_pitch_2_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<xacro:if value="${PAYLOAD}">
	<link name="payload_${arm_num}">
		<inertial>
		    <origin xyz="0.0 0.0 0.0"/>
			<mass value="4"/>
			<inertia ixx="0.0267" iyy="0.0267" izz="0.0267" ixy="0" ixz="0" iyz="0"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
			<geometry>
				<box size="0.2 0.2 0.2"/>
			</geometry>
			<material name="dark_grey"/>
		</visual>
	</link>
	<joint name="hand_to_payload_${arm_num}" type="fixed">
		<parent link="ball_arm_${arm_num}"/>
		<child link="payload_${arm_num}"/>
	</joint>
</xacro:if>

</xacro:macro>
<!-- /macro arms -->

</robot>
