<!--<?xml version="1.0"?>-->
<robot  xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Motor -->
<xacro:property name="MotorA_xx" value="${1/12 * props_inertial['motorA_mass'] * (3 * props['cylinder_radius'] * props['cylinder_radius'] + props['cylinder_length'] * props['cylinder_length'])}"/>
<xacro:property name="MotorA_xy" value="0.0"/>
<xacro:property name="MotorA_xz" value="0.0"/>
<xacro:property name="MotorA_yy" value="${1/12 * props_inertial['motorA_mass'] * (3 * props['cylinder_radius'] * props['cylinder_radius'] + props['cylinder_length'] * props['cylinder_length'])}"/>
<xacro:property name="MotorA_yz" value="0.0"/>
<xacro:property name="MotorA_zz" value="${1/2 * props_inertial['motorA_mass'] * props['cylinder_radius'] * props['cylinder_radius']}"/>

<xacro:property name="MotorB_xx" value="${1/12 * props_inertial['motorB_mass'] * (3 * props['cylinder_radius'] * props['cylinder_radius'] + props['cylinder_length'] * props['cylinder_length'])}"/>
<xacro:property name="MotorB_xy" value="0.0"/>
<xacro:property name="MotorB_xz" value="0.0"/>
<xacro:property name="MotorB_yy" value="${1/12 * props_inertial['motorB_mass'] * (3 * props['cylinder_radius'] * props['cylinder_radius'] + props['cylinder_length'] * props['cylinder_length'])}"/>
<xacro:property name="MotorB_yz" value="0.0"/>
<xacro:property name="MotorB_zz" value="${1/2 * props_inertial['motorB_mass'] * props['cylinder_radius'] * props['cylinder_radius']}"/>

<!-- Pelvis -->
<xacro:property name="Pelvis_xx" value="${1/12 * props_inertial['pelvis_mass'] * (props['pelvis_width'] * props['pelvis_width'] + props['pelvis_height'] * props['pelvis_height'])}"/>
<xacro:property name="Pelvis_xy" value="0.0"/>
<xacro:property name="Pelvis_xz" value="0.0"/>
<xacro:property name="Pelvis_yy" value="${1/12 * props_inertial['pelvis_mass'] * (props['pelvis_length'] * props['pelvis_length'] + props['pelvis_height'] * props['pelvis_height'])}"/>
<xacro:property name="Pelvis_yz" value="0.0"/>
<xacro:property name="Pelvis_zz" value="${1/12 * props_inertial['pelvis_mass'] * (props['pelvis_width'] * props['pelvis_width'] + props['pelvis_length'] * props['pelvis_length'])}"/>

<!-- Upper Leg -->
<xacro:property name="BigBox_xx" value="${1/3 * props_inertial['big_box_mass'] * (props['big_box_width'] * props['big_box_width'] + props['big_box_height'] * props['big_box_height'])}"/>
<xacro:property name="BigBox_xy" value="0.0"/>
<xacro:property name="BigBox_xz" value="0.0"/>
<xacro:property name="BigBox_yy" value="${1/3 * props_inertial['big_box_mass'] * (props['big_box_length'] * props['big_box_length'] + props['big_box_height'] * props['big_box_height'])}"/>
<xacro:property name="BigBox_yz" value="0.0"/>
<xacro:property name="BigBox_zz" value="${1/3 * props_inertial['big_box_mass'] * (props['big_box_width'] * props['big_box_width'] + props['big_box_length'] * props['big_box_length'])}"/>

<!-- Lower Leg -->
<xacro:property name="SmallBox_xx" value="${1/3 * props_inertial['small_box_mass'] * (props['small_box_width'] * props['small_box_width'] + props['small_box_height'] * props['small_box_height'])}"/>
<xacro:property name="SmallBox_xy" value="0.0"/>
<xacro:property name="SmallBox_xz" value="0.0"/>
<xacro:property name="SmallBox_yy" value="${1/3 * props_inertial['small_box_mass'] * (props['small_box_length'] * props['small_box_length'] + props['small_box_height'] * props['small_box_height'])}"/>
<xacro:property name="SmallBox_yz" value="0.0"/>
<xacro:property name="SmallBox_zz" value="${1/3 * props_inertial['small_box_mass'] * (props['small_box_width'] * props['small_box_width'] + props['small_box_length'] * props['small_box_length'])}"/>

<!-- Ball (hollow sphere) -->
<xacro:property name="Ball_xx" value="${2/3 * props_inertial['ball_mass'] * props['ball_radius'] * props['ball_radius']}"/>
<xacro:property name="Ball_xy" value="0.0"/>
<xacro:property name="Ball_xz" value="0.0"/>
<xacro:property name="Ball_yy" value="${2/3 * props_inertial['ball_mass'] * props['ball_radius'] * props['ball_radius']}"/>
<xacro:property name="Ball_yz" value="0.0"/>
<xacro:property name="Ball_zz" value="${2/3 * props_inertial['ball_mass'] * props['ball_radius'] * props['ball_radius']}"/>
</robot>
