<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

  <!-- This argument and property should be in the top level xacro and
  will be propagated to all its downstream childs -->
  <xacro:arg name="kyon_root" default="$(find kyon_urdf)" />  
  <xacro:property name="KYON_ROOT" value="$(arg kyon_root)" />

  <xacro:include filename="${KYON_ROOT}/urdf/kyon.urdf.xacro" />

  <xacro:include filename="${KYON_ROOT}/urdf/gazebo/kyon.gazebo.xacro" />
   
  <xacro:include filename="${KYON_ROOT}/urdf/gazebo/xbot.gazebo.xacro" />

  <xacro:include filename="${KYON_ROOT}/urdf/gazebo/materials.gazebo.xacro" />
  
  <xacro:unless value="${ADD_LEGS}">

    <link name="world"/>
      <joint name="reference" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>

  </xacro:unless>

  <origin xyz="0.0 0.0 1.2" rpy="0 0 0" />
</robot>
