<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon_real">

<xacro:arg name="bilevel_codes" default="false" /> <!-- if true, load codes vars from externally provided files-->
<xacro:arg name="sample_idx" default = "0"/>

<xacro:include filename="${ROOT}/urdf/utils.urdf.xacro" />

<xacro:include filename="${ROOT}/urdf/parts/kinematics_properties.urdf.xacro" />
<!-- NOTE: here we need to include "kinematics_properties" first because "inertial_properties" depends on it-->
<xacro:include filename="${ROOT}/urdf/parts/inertial_properties.urdf.xacro" />
<xacro:include filename="${ROOT}/urdf/parts/limits.urdf.xacro" />

<link name="base_link"/>

<link name="pelvis">
	<inertial>
		<origin xyz="${Pelvis_x} ${Pelvis_y} ${Pelvis_z}"/>
		<mass value="${Pelvis_mass}"/>
		<inertia ixx="${Pelvis_xx}" ixy="${Pelvis_xy}" ixz="${Pelvis_xz}" iyy="${Pelvis_yy}" iyz="${Pelvis_yz}" izz="${Pelvis_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	 		<mesh filename="${MESH_PATH}/mesh_pelvis.stl" scale="0.001 0.001 0.001"/>
		</geometry>
        <material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	  		<mesh filename="${MESH_PATH}/collision/mesh_pelvis.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<xacro:if value="${ADD_VARTA or ADD_D034_LI_ION}">
    <link name="battery">
        <inertial>
            <mass value="${Battery_mass}"/>
            <inertia ixx="${Battery_xx}" ixy="${Battery_xy}" ixz="${Battery_xz}" iyy="${Battery_yy}" iyz="${Battery_yz}" izz="${Battery_zz}"/>
        </inertial>
        <visual>
            <geometry>
                <box size="${Battery_xsize} ${Battery_ysize} ${Battery_zsize}"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
    </link> 
    <joint name="battery_joint" type="fixed">
        <origin xyz="${Battery_Ox} ${Battery_Oy} ${Battery_Oz}"/>
        <parent link="pelvis"/>
        <child link="battery"/>   
    </joint>
</xacro:if>

<joint name="base_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<link name="imu_link"/>

<joint name="imu_joint" type="fixed">
	<origin xyz="-0.256190 0 0.103" rpy="${PI} 0 0"/>
    <parent link="pelvis"/>
    <child link="imu_link"/>
</joint>

<!-- CAMERA BASE FRAMES -->
<link name="zed_front_up_mount_link"/>
<joint name="zed_front_up_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="zed_front_up_mount_link"/>
    <origin xyz="0.526174 0 0.0674608" rpy="0 -0.1745327 0"/>
</joint>

<link name="zed_front_down_mount_link"/>
<joint name="zed_front_down_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="zed_front_down_mount_link"/>
    <origin xyz="0.509601 0 0.00343992" rpy="0 0.9250251 0"/>
</joint>

<link name="left_camera_mount_link"/>
<joint name="left_camera_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="left_camera_mount_link"/>
    <origin xyz="0 0.150100 0.109486" rpy="0 0.3490656 1.5707963"/>
</joint>

<link name="right_camera_mount_link"/>
<joint name="right_camera_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="right_camera_mount_link"/>
    <origin xyz="0 -0.150100 0.109486" rpy="0 0.3490656 -1.5707963"/>
</joint>


<xacro:if value="${ADD_CAMERAS}">
    <xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435i.urdf.xacro" />

    <!-- LEFT D435 CAMERA -->
    <xacro:sensor_d435i parent="left_camera_mount_link"
        name="D435_left"
        topics_ns="D435_left"
        enable_pointCloud="true"
        align_depth="true"
        unite_imu_method="false"
        visualize="false"
        accel_fps="300"
        gyro_fps="300"
        depth_width="1280"
        depth_height="720"
        depth_fps="10"
        infra_width="1280"
        infra_height="720"
        infra_fps="10"
        color_width="1280"
        color_height="720"
        color_fps="1">

        <origin xyz="0 0 0" rpy="0 0 0"/>

    </xacro:sensor_d435i>

    <!-- RIGHT D435 CAMERA -->
    <xacro:sensor_d435i parent="right_camera_mount_link"
        name="D435_right"
        topics_ns="D435_right"
        enable_pointCloud="true"
        align_depth="true"
        unite_imu_method="false"
        visualize="false"
        accel_fps="300"
        gyro_fps="300"
        depth_width="1280"
        depth_height="720"
        depth_fps="10"
        infra_width="1280"
        infra_height="720"
        infra_fps="10"
        color_width="1280"
        color_height="720"
        color_fps="1">

        <origin xyz="0 0 0" rpy="0 0 0"/>

    </xacro:sensor_d435i>

    <!-- FRONT1 D435 CAMERA -->
    <xacro:sensor_d435i parent="zed_front_up_mount_link"
        name="D435_front1"
        topics_ns="D435_front1"
        enable_pointCloud="true"
        align_depth="true"
        unite_imu_method="false"
        visualize="false"
        accel_fps="300"
        gyro_fps="300"
        depth_width="1280"
        depth_height="720"
        depth_fps="90"
        infra_width="1280"
        infra_height="720"
        infra_fps="90"
        color_width="1280"
        color_height="720"
        color_fps="30">

        <origin xyz="0 0 0" rpy="0 0 0"/>

    </xacro:sensor_d435i>

    <!-- FRONT2 D435 CAMERA -->
    <xacro:sensor_d435i parent="zed_front_down_mount_link"
        name="D435_front2"
        topics_ns="D435_front2"
        enable_pointCloud="true"
        align_depth="true"
        unite_imu_method="false"
        visualize="false"
        accel_fps="300"
        gyro_fps="300"
        depth_width="1280"
        depth_height="720"
        depth_fps="90"
        infra_width="1280"
        infra_height="720"
        infra_fps="90"
        color_width="1280"
        color_height="720"
        color_fps="30">

        <origin xyz="0 0 0" rpy="0 0 0"/>
        
    </xacro:sensor_d435i>
    
</xacro:if>

<!-- Velodyne -->
<link name="hesai_lidar"/>
<joint name="hesai_lidar_joints" type="fixed">
    <origin xyz="0.43 0 0.118" rpy="0 0 0.5220063" />
    <parent link="pelvis"/>
	<child link="hesai_lidar"/>
</joint>

<xacro:if value="${ADD_VELODYNE}">
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:VLP-16 parent="pelvis" name="velodyne" topic="/velodyne_points" hz="10" samples="440">
        <origin xyz="0.43 0 0.118" rpy="0 0 0.5220063" />
    </xacro:VLP-16>
</xacro:if>

<xacro:if value="${ADD_UPPER_BODY}">
    <xacro:include filename="${ROOT}/urdf/parts/arms.urdf.xacro" />
</xacro:if>

<xacro:if value="${ADD_LEGS}">
	<xacro:include filename="${ROOT}/urdf/parts/legs.urdf.xacro" />
</xacro:if>

<xacro:if value="${PAYLOAD}">
	<link name="payload_pelvis">
		<inertial>
		    <origin xyz="0.0 0.0 0.0"/>
			<mass value="20"/>
			<inertia ixx="0.13" iyy="0.13" izz="0.13" ixy="0" ixz="0" iyz="0"/>
		</inertial>
		<visual>
			<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
			<geometry>
				<box size="0.2 0.2 0.2"/>
			</geometry>
			<material name="dark_grey"/>
		</visual>
	</link>
	<joint name="pelvis_to_payload" type="fixed">
		<origin xyz="-0.2 0.0 ${pelvis_height / 2 + 0.1}"/>
		<parent link="pelvis"/>
		<child link="payload_pelvis"/>
	</joint>
</xacro:if>

</robot>
