<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

<xacro:arg name="bilevel_codes" default="false" /> <!-- if true, load codes vars from externally provided files-->
<xacro:arg name="sample_idx" default = "0"/>

<xacro:include filename="$(find kyon_urdf)/urdf/utils.urdf.xacro" />

<xacro:include filename="$(find kyon_urdf)/urdf/parts/kinematics_properties.urdf.xacro" />
<!-- NOTE: here we need to include "kinematics_properties" first because "inertial_properties" depends on it-->
<xacro:include filename="$(find kyon_urdf)/urdf/parts/inertial_properties.urdf.xacro" />
<xacro:include filename="$(find kyon_urdf)/urdf/parts/limits.urdf.xacro" />

<link name="base_link"/>

<link name="pelvis">
	<inertial>
		<origin xyz="${Pelvis_x} ${Pelvis_y} ${Pelvis_z}"/>
		<mass value="${Pelvis_mass}"/>
		<inertia ixx="${Pelvis_xx}" ixy="${Pelvis_xy}" ixz="${Pelvis_xz}" iyy="${Pelvis_yy}" iyz="${Pelvis_yz}" izz="${Pelvis_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	 		<mesh filename="package://kyon_urdf/meshes/${VISUAL_MESH_SUBFOLDER}/mesh_pelvis.stl" scale="0.001 0.001 0.001"/>
		</geometry>
        <material name="dark_grey"/>
	</visual>
    <xacro:if value="${ADD_COLLISION}">
	<collision>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	  		<mesh filename="package://kyon_urdf/meshes/collision/mesh_pelvis.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
    </xacro:if>
</link>

<xacro:if value="${ADD_BATTERY}">
    <link name="battery">
        <inertial>
            <mass value="${Battery_mass}"/>
            <inertia ixx="${Battery_xx}" ixy="${Battery_xy}" ixz="${Battery_xz}" iyy="${Battery_yy}" iyz="${Battery_yz}" izz="${Battery_zz}"/>
        </inertial>
        <visual>
            <geometry>
                <box size="${Battery_xsize} ${Battery_ysize} ${Battery_zsize}"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
    </link> 
    <joint name="battery_joint" type="fixed">
        <origin xyz="${Battery_Ox} ${Battery_Oy} ${Battery_Oz}"/>
        <parent link="pelvis"/>
        <child link="battery"/>   
    </joint>
</xacro:if>

<joint name="base_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>

<link name="imu_link"/>

<joint name="imu_joint" type="fixed">
	<origin xyz="-0.256190 0 0.103" rpy="${PI} 0 0"/>
    <parent link="pelvis"/>
    <child link="imu_link"/>
</joint>

<!-- CAMERA BASE FRAMES -->
<link name="zed_front_up_mount_link"/>
<joint name="zed_front_up_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="zed_front_up_mount_link"/>
    <origin xyz="0.526174 0 0.0674608" rpy="0 -0.1745327 0"/>
</joint>

<link name="zed_front_down_mount_link"/>
<joint name="zed_front_down_mount_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="zed_front_down_mount_link"/>
    <origin xyz="0.509601 0 0.00343992" rpy="0 0.9250251 0"/>
</joint>


<!-- lidar -->
<link name="hesai_lidar"/>
<joint name="hesai_lidar_joints" type="fixed">
    <origin xyz="0.43 0 0.118" rpy="0 0 0.5220063" />
    <parent link="pelvis"/>
	<child link="hesai_lidar"/>
</joint>

<xacro:if value="${ADD_ARMS}">
    <xacro:include filename="$(find kyon_urdf)/urdf/parts/arms.urdf.xacro" />
</xacro:if>

<xacro:if value="${ADD_LEGS}">
	<xacro:include filename="$(find kyon_urdf)/urdf/parts/legs.urdf.xacro" />
</xacro:if>

<!-- Hesai JT128 -->
<xacro:if value="${ADD_HESAI_JT128}">
    <link name="hesai_jt128_front_link">
        <inertial>
        <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0"
                iyy="0.001" iyz="0"
                izz="0.001"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://kyon_urdf/meshes/hesai_jt128.stl" scale="0.0001 0.0001 0.0001"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
    </link>

    <joint name="hesai_jt128_front_joint" type="fixed">
        <origin xyz="0.43 0 -0.118" rpy="${PI} 0 0" />
        <parent link="pelvis"/>
        <child link="hesai_jt128_front_link"/>
    </joint>

    <link name="hesai_jt128_back_link">
        <inertial>
        <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0" ixz="0"
                iyy="0.001" iyz="0"
                izz="0.001"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://kyon_urdf/meshes/hesai_jt128.stl" scale="0.0001 0.0001 0.0001"/>
            </geometry>
            <material name="dark_grey"/>
        </visual>
    </link>

    <joint name="hesai_jt128_back_joint" type="fixed">
        <origin xyz="-0.43 0 -0.118" rpy="${PI} 0 0" />
        <parent link="pelvis"/>
        <child link="hesai_jt128_back_link"/>
    </joint>
</xacro:if>

</robot>
