<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

<!-- This argument and property should be in the top level xacro and
will be propagated to all its downstream childs -->
<xacro:arg name="root" default="$(find kyon_urdf_simple)" />  
<xacro:property name="ROOT" value="$(arg root)" />

<!-- setting use_abs_mesh_paths should be kept to false
for use with tools like RViz, which does not accept plain
abolute paths for mesh paths-->
<xacro:arg name="use_abs_mesh_paths" default="false" />  
<xacro:arg name="use_local_filesys_for_meshes" default="false" />  

<xacro:property name="USE_ABS_MESH_PATHS" value="$(arg use_abs_mesh_paths)" />
<xacro:property name="USE_LOCAL_FILESYS_FOR_MESHES" value="$(arg use_local_filesys_for_meshes)" />

<xacro:if value="${USE_ABS_MESH_PATHS}">
	<xacro:if value="${USE_LOCAL_FILESYS_FOR_MESHES}">
	<xacro:property name="MESH_PATH" value="file://${ROOT}/meshes" />
	</xacro:if>
	<xacro:unless value="${USE_LOCAL_FILESYS_FOR_MESHES}">
	<xacro:property name="MESH_PATH" value="${ROOT}/meshes" />
	</xacro:unless>
	</xacro:if>
<xacro:unless value="${USE_ABS_MESH_PATHS}">
<xacro:property name="MESH_PATH" value="package://kyon_urdf_simple/meshes" />
</xacro:unless>

<xacro:arg name="config" default="${ROOT}/urdf/config/kyon.urdf.xacro"/>
<!-- ************ MODEL CONFIGURATION ************ -->
<xacro:include filename="$(arg config)"/>

<!-- here the properties from the config are set -->
<xacro:if value="${ADD_DAGANA}">
	
	<xacro:arg name="dagana_root" default="$(find dagana_urdf)" /> 
	<xacro:property name="DAGANA_ROOT" value="$(arg dagana_root)" />

</xacro:if>
<xacro:if value="${ADD_SENSORS}">
	
	<xacro:arg name="realsense_gazebo_description_root" default="$(find realsense_gazebo_description)" /> 
	<xacro:property name="REALSENSE_GAZEBO_DESCRIPTION_ROOT" value="$(arg realsense_gazebo_description_root)" />

	<xacro:arg name="velodyne_description_root" default="$(find velodyne_description)" /> 
	<xacro:property name="VELODYNE_DESCRIPTION_ROOT" value="$(arg velodyne_description_root)" />

</xacro:if>

<!-- ************ CETC-SAT plain model ************ -->
<xacro:include filename="${ROOT}/urdf/kyon_base.urdf.xacro"/>

<!-- ************ Control frames ************ -->
<!--xacro:include filename="$(find pholus_urdf)/urdf/control_frames.urdf.xacro"/-->

<xacro:if value="${ADD_FLOATING_BASE}">
	<link name="world"/>
	<joint name="reference" type="floating">
		<parent link="world"/>
		<child link="base_link"/>
	</joint>
</xacro:if>

</robot>
