<launch>
        
    <arg name="gazebo" default="true"/>
    <arg name="cartesio" default="false"/>

    <arg name="xbot2" default="false"/>
    <arg name="xbot2_gui" default="false"/>

    <!-- Xbot2 configuration -->
    <arg name="xbot2_config" default="$(find-pkg-share kyon_config)/kyon_basic.yaml"/>	

    <!-- run rviz ? -->
    <arg name="rviz" default="false"/>
    <!-- <param if="$(arg gazebo)" name="use_sim_time" type="bool" value="true"/>
    <param if="$(arg cartesio)" name="use_sim_time" type="bool" value="false"/>   -->
    
    <!-- gazebo configuration parameters -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="false"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="codesign" default="false"/>
    
    <!-- kyon configuration parameters -->
    <arg name="arms" default="false"/>
    <arg name="legs" default="true"/>
    <arg name="sensors" default="false"/>
    <arg name="payload" default="false"/>
    <arg name="dagana" default="false"/>
    <arg name="feet" default="true"/>
    <arg name="wheels" default="false"/>
    <arg name="steering_wheels" default="false"/>
    <arg name="ft_sensors" default="true"/>
    <arg name="velodyne" default="false"/>


    <!-- Internal arguments, rewrite human-readable gazebo arguments to it's internal arguments -->
    <let name="arg_paused" value="-r" unless="$(var paused)"/>
    <let name="arg_paused" value="" if="$(var paused)"/>

    <let name="arg_verbose" value="" unless="$(var verbose)" />
    <let name="arg_verbose" value="--verbose" if="$(var verbose)" />

    <let name="arg_gui" value="-s" unless="$(var gui)"/> 
    <let name="arg_gui" value="" if="$(var gui)"/> 

    <let name="script_type" value="gzserver" unless="$(var debug)"/>
    <let name="script_type" value="debug" if="$(var debug)"/>
  
    <!-- run gazebo -->
    <group if="$(var gazebo)">
  
       <!-- from where the simulation enviornment will be loaded:
              WARNING: exactly one parameter has to be true, otherwise simulation behaviour is undefined -->
       <arg name="world_name" default="$(find-pkg-share kyon_gazebo)/worlds/kyon.world"/>
       
       <!-- Load the URDF/SRDF into the ROS Parameter Server -->
       <let name="robot_description_gz"
            value="$(command 'xacro $(find-pkg-share kyon_urdf)/urdf/kyon_robot.urdf.xacro floating_joint:=false upper_body:=$(var arms) legs:=$(var legs) sensors:=$(var sensors) payload:=$(var payload) dagana:=$(var dagana) feet:=$(var feet) wheels:=$(var wheels) steering_wheels:=$(var steering_wheels) feet:=$(var feet) ft_sensors:=$(var ft_sensors) velodyne:=$(var velodyne)')"/>
              
       <let name="robot_description"
            value="$(command 'xacro $(find-pkg-share kyon_urdf)/urdf/kyon.urdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) sensors:=$(var sensors) payload:=$(var payload) dagana:=$(var dagana) feet:=$(var feet) wheels:=$(var wheels) steering_wheels:=$(var steering_wheels) feet:=$(var feet) ft_sensors:=$(var ft_sensors) velodyne:=$(var velodyne)')"/>
              
       <let name="robot_description_semantic"
            value="$(command 'xacro $(find-pkg-share kyon_srdf)/srdf/kyon.srdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) sensors:=$(var sensors) payload:=$(var payload) dagana:=$(var dagana) feet:=$(var feet) wheels:=$(var wheels) steering_wheels:=$(var steering_wheels) feet:=$(var feet) ft_sensors:=$(var ft_sensors) velodyne:=$(var velodyne)')"/>
               
       <!-- Start gazebo-->
       <include file="$(find-pkg-share ros_gz_sim)/launch/gz_sim.launch.py">
              <arg name="gz_args" value="$(var world_name) $(var arg_verbose) $(var arg_gui) $(var arg_paused)"/>
       </include>

       <!-- Spawn URDF model-->
       <node pkg="ros_gz_sim" exec="create" name="urdf_spawner">
              <param name="string" type="str" value="$(var robot_description_gz)"/>
              <param name="z" value="1.0"/>
       </node>

       <!-- ROS-gazebo topics bridge-->
       <node pkg="ros_gz_bridge" exec="parameter_bridge" name="ros_gz_bridge" 
       args="/VLP16_lidar_front/points@sensor_msgs/msg/PointCloud2[gz.msgs.PointCloudPacked
             /VLP16_lidar_front@sensor_msgs/msg/LaserScan[gz.msgs.LaserScan
             /clock@rosgraph_msgs/msg/Clock[ignition.msgs.Clock"/>
	   
    </group>

    <!-- rviz nodes -->
     <group if="$(var rviz)">
        <let name="robot_description"
        value="$(command 'xacro $(find-pkg-share kyon_urdf)/urdf/kyon.urdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) sensors:=$(var sensors) payload:=$(var payload) dagana:=$(var dagana) feet:=$(var feet) wheels:=$(var wheels) steering_wheels:=$(var steering_wheels) ft_sensors:=$(var ft_sensors)')"/>
          
        <node pkg="robot_state_publisher" exec="robot_state_publisher" name="rsp">
            <param name="robot_description" value="$(command 'xacro $(find-pkg-share kyon_urdf)/urdf/kyon.urdf.xacro floating_joint:=true upper_body:=$(var arms) legs:=$(var legs) sensors:=$(var sensors) payload:=$(var payload) dagana:=$(var dagana) feet:=$(var feet) wheels:=$(var wheels) steering_wheels:=$(var steering_wheels) ft_sensors:=$(var ft_sensors) velodyne:=$(var velodyne)')" />
        </node>

        <node pkg="joint_state_publisher"  exec="joint_state_publisher" name="jsp"/>

        <node pkg="rviz2" exec="rviz2" name="rviz" output="screen"
            args="-d $(find-pkg-share kyon_urdf)/config/kyon.rviz">
        </node>
    </group>

	<!-- run xbot2 -->
	<executable if="$(var xbot2)" output="screen"
		        cmd="xbot2-core -V --hw sim --simtime --config $(var xbot2_config) --"/>

	<!-- run xbot2_gui_server and client -->
	<executable if="$(var xbot2_gui)" output="log"
		        cmd="xbot2_gui_server"/>

	<executable if="$(var xbot2_gui)" output="log"
		        cmd="xbot2_gui"/>

  <!-- <include if="$(arg cartesio)" file="$(find kyon_cartesio)/launch/kyon.launch">
  	<arg name="arms" value="$(arg arms)"/>
  	<arg name="legs" value="$(arg legs)"/>
  	<arg name="sensors" value="$(arg sensors)"/>
  	<arg name="payload" value="$(arg payload)"/>
  	<arg name="dagana" value="$(arg dagana)"/>
  	<arg name="wheels" value="$(arg wheels)"/>
	<arg if="$(arg codesign)" name="ik" value="$(find kyon_cartesio)/config/kyon_stack_codesign.yaml"/>
  </include> -->

</launch>
