<?xml version="1.0" ?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

    <!-- ************ MODEL CONFIGURATION ************ -->

    <xacro:arg name="root" default="$(find kyon_urdf)" />  
    <xacro:property name="ROOT" value="$(arg root)" />

    <xacro:arg name="config" default="${ROOT}/urdf/config/kyon.urdf.xacro"/>
    <xacro:include filename="$(arg config)"/>

    <group name="base">
        <link name="pelvis"/>
    </group>

    <group name="imu_sensors">
        <link name="imu_link"/>
    </group>

    <xacro:if value="${ADD_LEGS}">
    	<xacro:if value="${ADD_WHEELS}">
			<group name="front_left_leg">
		        <chain base_link="pelvis" tip_link="wheel_1" />
		    </group>
		    <group name="front_right_leg">
		        <chain base_link="pelvis" tip_link="wheel_2" />
		    </group>
		    <group name="rear_right_leg">
		        <chain base_link="pelvis" tip_link="wheel_4" />
		    </group>
		    <group name="rear_left_leg">
		        <chain base_link="pelvis" tip_link="wheel_3" />
		    </group>
		</xacro:if>
		<xacro:unless value="${ADD_WHEELS}">
		    <group name="front_left_leg">
		        <chain base_link="pelvis" tip_link="ball_1" />
		    </group>
		    <group name="front_right_leg">
		        <chain base_link="pelvis" tip_link="ball_2" />
		    </group>
		    <group name="rear_right_leg">
		        <chain base_link="pelvis" tip_link="ball_4" />
		    </group>
		    <group name="rear_left_leg">
		        <chain base_link="pelvis" tip_link="ball_3" />
		    </group>
		</xacro:unless>
    </xacro:if>

    <xacro:if value="${ADD_UPPER_BODY}">
    	<xacro:if value="${ADD_DAGANA}">
			<group name="left_arm">
				<chain base_link="pelvis" tip_link="dagana_1_bottom_link"/>
			</group>
			<group name="right_arm">
				<chain base_link="pelvis" tip_link="dagana_2_bottom_link"/>
			</group>
		</xacro:if>
		<xacro:unless value="${ADD_DAGANA}">
			<group name="left_arm">
				<chain base_link="pelvis" tip_link="ball_arm_1"/>
			</group>
			<group name="right_arm">
				<chain base_link="pelvis" tip_link="ball_arm_2"/>
			</group>
		</xacro:unless>
    </xacro:if>

    <group name="chains">        <!--THIS HAS TO BE THE LAST GROUP IN THE FILE -->
        <xacro:if value="${ADD_LEGS}">
            <group name="front_left_leg" />
            <group name="front_right_leg" />
            <group name="rear_right_leg" />
            <group name="rear_left_leg" />
        </xacro:if>

        <xacro:if value="${ADD_UPPER_BODY}">
            <group name="left_arm"/>
            <group name="right_arm"/>
        </xacro:if>

    </group>

    <!-- Homing posture -->
    <group_state name="home" group="chains">
        <xacro:if value="${ADD_LEGS}">
            <joint name="hip_roll_1" value="0.0"/>
            <joint name="hip_pitch_1" value="0.7"/>
            <joint name="knee_pitch_1" value="-1.4"/>
            <joint name="hip_roll_2" value="0.0"/>
            <joint name="hip_pitch_2" value="0.7"/>
            <joint name="knee_pitch_2" value="-1.4"/>
            <joint name="hip_roll_3" value="0.0"/>
            <joint name="hip_pitch_3" value="0.7"/>
            <joint name="knee_pitch_3" value="-1.4"/>
            <joint name="hip_roll_4" value="0.0"/>
            <joint name="hip_pitch_4" value="0.7"/>
            <joint name="knee_pitch_4" value="-1.4"/>
            <joint name="wheel_joint_1" value="0"/>
            <joint name="wheel_joint_2" value="0"/>
            <joint name="wheel_joint_3" value="0"/>
            <joint name="wheel_joint_4" value="0"/>
        </xacro:if>
        <xacro:if value="${ADD_UPPER_BODY}">
            <joint name="shoulder_yaw_1" value="-0.05"/>
            <joint name="shoulder_pitch_1" value="0.50"/>
            <joint name="elbow_pitch_1" value="1.25"/>
            <joint name="wrist_pitch_1" value="0.0"/>
            <joint name="wrist_yaw_1" value="0.0"/>
            <joint name="shoulder_yaw_2" value="0.05"/>
            <joint name="shoulder_pitch_2" value="0.50"/>
            <joint name="elbow_pitch_2" value="1.25"/>
            <joint name="wrist_pitch_2" value="0.0"/>
            <joint name="wrist_yaw_2" value="0.0"/>
        </xacro:if>
    </group_state>
</robot>	
