<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find kyon_urdf)/urdf/parts/kyon_arm.urdf.xacro"/>

<!-- arms -->
<xacro:kyon_arm arm_num="1"  rot="-1"  parent="pelvis">
</xacro:kyon_arm>

<xacro:kyon_arm arm_num="2" rot="1"  parent="pelvis">
</xacro:kyon_arm>

</robot>
