<?xml version="1.0"?>
<robot  xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:property name="mm2Tom2" value="${0.001*0.001}"/>

    <!-- Battery -->
    <xacro:if value="${ADD_VARTA}">
        <xacro:property name="Battery_mass" value="9.8"/>
    </xacro:if>
    <xacro:if value="${ADD_D034_LI_ION}">
        <xacro:property name="Battery_mass" value="5.8"/>
    </xacro:if>

    <xacro:property name="Battery_xx" value="${1/12 * Battery_mass * (Battery_zsize * Battery_zsize + Battery_ysize * Battery_ysize)}"/>
    <xacro:property name="Battery_xy" value="0.0"/>
    <xacro:property name="Battery_xz" value="0.0"/>
    <xacro:property name="Battery_yy" value="${1/12 * Battery_mass * (Battery_zsize * Battery_zsize + Battery_xsize * Battery_xsize)}"/>
    <xacro:property name="Battery_yz" value="0.0"/>
    <xacro:property name="Battery_zz" value="${1/12 * Battery_mass * (Battery_xsize * Battery_xsize + Battery_ysize * Battery_ysize)}"/>
    
    <!-- Pelvis -->
    <xacro:property name="Pelvis_mass" value="19.962822"/>

    <xacro:property name="Pelvis_x" value="${5.6500758e+01 * mmTom}"/>
    <xacro:property name="Pelvis_y" value="${2.0918380e+00 * mmTom}"/> 
    <xacro:property name="Pelvis_z" value="${8.6799843e+01 * mmTom}"/>
 
    <xacro:property name="Pelvis_xx" value="${2.4817283e+05 * mm2Tom2}"/>
    <xacro:property name="Pelvis_xy" value="${-4.1644587e+03 * mm2Tom2}"/>
    <xacro:property name="Pelvis_xz" value="${ -6.0913555e+04 * mm2Tom2}"/>
    <xacro:property name="Pelvis_yy" value="${1.2563812e+06 * mm2Tom2}"/>
    <xacro:property name="Pelvis_yz" value="${2.4917702e+02 * mm2Tom2}"/>
    <xacro:property name="Pelvis_zz" value="${1.2495441e+06 * mm2Tom2}"/>

    <!-- Hip Roll -->
    <xacro:property name="HipRoll_mass" value="2.5772427e+00"/>

    <xacro:property name="HipRoll_x" value="${-6.7317742e-01 * mmTom}"/>
    <xacro:property name="HipRoll_y" value="${6.5349155e+00 * mmTom}"/>
    <xacro:property name="HipRoll_z" value="${-1.1564663e+02 * mmTom}"/>

    <xacro:property name="HipRoll_xx" value="${1.4198248e+04 * mm2Tom2}"/>
    <xacro:property name="HipRoll_xy" value="${-5.1991008e+00 * mm2Tom2}"/>
    <xacro:property name="HipRoll_xz" value="${5.3090191e+01 * mm2Tom2}"/>
    <xacro:property name="HipRoll_yy" value="${1.4484612e+04 * mm2Tom2}"/>
    <xacro:property name="HipRoll_yz" value="${-1.4545820e+03 * mm2Tom2}"/>
    <xacro:property name="HipRoll_zz" value="${4.5512206e+03 * mm2Tom2}"/>

    <!-- Hip Pitch -->
    <xacro:property name="HipPitch_mass" value="6.4366103e+00"/>

    <xacro:property name="HipPitch_x" value="${6.9653887e-02 * mmTom}"/>
    <xacro:property name="HipPitch_y" value="${-7.7666126e+01 * mmTom}"/>
    <xacro:property name="HipPitch_z" value="${1.4689295e+02 * mmTom}"/>

    <xacro:property name="HipPitch_xx" value="${1.2144025e+05 * mm2Tom2}"/>
    <xacro:property name="HipPitch_xy" value="${-6.4677573e+02 * mm2Tom2}"/>
    <xacro:property name="HipPitch_xz" value="${-5.7668584e+01 * mm2Tom2}"/>
    <xacro:property name="HipPitch_yy" value="${2.7586781e+04 * mm2Tom2}"/>
    <xacro:property name="HipPitch_yz" value="${2.7586781e+04 * mm2Tom2}"/>
    <xacro:property name="HipPitch_zz" value="${1.0048465e+05 * mm2Tom2}"/>

    <!-- Knee Pitch -->
    <xacro:property name="KneePitch_mass" value="7.0900216e-01"/>

    <xacro:property name="KneePitch_x" value="${5.1193011e-03 * mmTom}"/>
    <xacro:property name="KneePitch_y" value="${-1.0291595e+02 * mmTom}"/>
    <xacro:property name="KneePitch_z" value="${-1.2895495e+00 * mmTom}"/>

    <xacro:property name="KneePitch_xx" value="${1.2517512e+04 * mm2Tom2}"/>
    <xacro:property name="KneePitch_xy" value="${-5.4385779e-01 * mm2Tom2}"/>
    <xacro:property name="KneePitch_xz" value="${1.4538899e-01 * mm2Tom2}"/>
    <xacro:property name="KneePitch_yy" value="${8.0474409e+02 * mm2Tom2}"/>
    <xacro:property name="KneePitch_yz" value="${1.7446290e+03 * mm2Tom2}"/>
    <xacro:property name="KneePitch_zz" value="${1.2307020e+04 * mm2Tom2}"/>


    <xacro:property name="KneePitchSteeringWheel_mass" value="1.5279917e+00"/>

    <xacro:property name="KneePitchSteeringWheel_x" value="${-2.3344619e-01 * mmTom}"/>
    <xacro:property name="KneePitchSteeringWheel_y" value="${-2.0941447e+01 * mmTom}"/>
    <xacro:property name="KneePitchSteeringWheel_z" value="${3.7360053e+01 * mmTom}"/>

    <xacro:property name="KneePitchSteeringWheel_xx" value="${4.2000569e+03 * mm2Tom2}"/>
    <xacro:property name="KneePitchSteeringWheel_xy" value="${1.7081501e+01 * mm2Tom2}"/>
    <xacro:property name="KneePitchSteeringWheel_xz" value="${1.3641903e+01 * mm2Tom2}"/>
    <xacro:property name="KneePitchSteeringWheel_yy" value="${3.3040731e+03 * mm2Tom2}"/>
    <xacro:property name="KneePitchSteeringWheel_yz" value="${6.9297041e+02 * mm2Tom2}"/>
    <xacro:property name="KneePitchSteeringWheel_zz" value="${2.2573537e+03 * mm2Tom2}"/>


    <xacro:property name="KneePitchWheel_mass" value="1.5016388"/>

    <xacro:property name="KneePitchWheel_x" value="${-1.7834738e-01 * mmTom}"/>
    <xacro:property name="KneePitchWheel_y" value="${-2.5371445e+02 * mmTom}"/>
    <xacro:property name="KneePitchWheel_z" value="${4.1781751e+01 * mmTom}"/>

    <xacro:property name="KneePitchWheel_xx" value="${1.1851050e+04 * mm2Tom2}"/>
    <xacro:property name="KneePitchWheel_xy" value="${0* mm2Tom2}"/>
    <xacro:property name="KneePitchWheel_xz" value="${0 * mm2Tom2}"/>
    <xacro:property name="KneePitchWheel_yy" value="${2.2822244e+03 * mm2Tom2}"/>
    <xacro:property name="KneePitchWheel_yz" value="${0 * mm2Tom2}"/>
    <xacro:property name="KneePitchWheel_zz" value="${1.2166274e+04 * mm2Tom2}"/>

    <!-- Ankle Yaw -->
    <xacro:property name="AnkleYaw_mass" value="1.4742389e+00"/>

    <xacro:property name="AnkleYaw_x" value="${1.6605069e-01 * mmTom}"/>
    <xacro:property name="AnkleYaw_y" value="${-1.0764272e+01 * mmTom}"/>
    <xacro:property name="AnkleYaw_z" value="${-1.6435122e+02 * mmTom}"/>

    <xacro:property name="AnkleYaw_xx" value="${1.3519250e+04 * mm2Tom2}"/>
    <xacro:property name="AnkleYaw_xy" value="${6.1286941e+00 * mm2Tom2}"/>
    <xacro:property name="AnkleYaw_xz" value="${1.4040479e+01 * mm2Tom2}"/>
    <xacro:property name="AnkleYaw_yy" value="${1.3751206e+04 * mm2Tom2}"/>
    <xacro:property name="AnkleYaw_yz" value="${-8.6246931e+01 * mm2Tom2}"/>
    <xacro:property name="AnkleYaw_zz" value="${2.0567813e+03 * mm2Tom2}"/>

    <!-- Steering Wheel-->
    <xacro:property name="SteeringWheel_mass" value="1.1618108e+00"/>  

	<xacro:property name="SteeringWheel_x" value="${0.0 * mmTom}"/>
	<xacro:property name="SteeringWheel_y" value="${0.0 * mmTom}"/>
	<xacro:property name="SteeringWheel_z" value="${1.5688043e+00 * mmTom}"/>

	<xacro:property name="SteeringWheel_xx" value="${4.1604194e+03 * mm2Tom2}"/>
	<xacro:property name="SteeringWheel_xy" value="${0.0000000e+00 * mm2Tom2}"/>
	<xacro:property name="SteeringWheel_xz" value="${0.0000000e+00 * mm2Tom2}"/>
	<xacro:property name="SteeringWheel_yy" value="${4.1604120e+03 * mm2Tom2}"/>
	<xacro:property name="SteeringWheel_yz" value="${0.0 * mm2Tom2}"/>
	<xacro:property name="SteeringWheel_zz" value="${7.8999160e+03 * mm2Tom2}"/>

    <!-- Wheel-->
    <xacro:property name="Wheel_mass" value="1.2638390"/>  

	<xacro:property name="Wheel_x" value="${0.0 * mmTom}"/>
	<xacro:property name="Wheel_y" value="${0.0 * mmTom}"/>
	<xacro:property name="Wheel_z" value="${1.4437817e+00 * mmTom}"/>

	<xacro:property name="Wheel_xx" value="${4.1796417e+03 * mm2Tom2}"/>
	<xacro:property name="Wheel_xy" value="${4.4497596e-03 * mm2Tom2}"/>
	<xacro:property name="Wheel_xz" value="${0.0000000e+00 * mm2Tom2}"/>
	<xacro:property name="Wheel_yy" value="${4.1796381e+03 * mm2Tom2}"/>
	<xacro:property name="Wheel_yz" value="${0.0 * mm2Tom2}"/>
	<xacro:property name="Wheel_zz" value="${7.9333497e+03 * mm2Tom2}"/>
    
    <!-- Shoulder Yaw -->
    <xacro:property name="ShoulderYaw_mass" value="6.8281255e-01"/>

    <xacro:property name="ShoulderYaw_x" value="${-3.6680683e-01 * mmTom}"/>
    <xacro:property name="ShoulderYaw_y" value="${-9.1946646e-01 * mmTom}"/>
    <xacro:property name="ShoulderYaw_z" value="${3.9513614e+01 * mmTom}"/>

    <xacro:property name="ShoulderYaw_xx" value="${2.4646423e+03 * mm2Tom2}"/>
    <xacro:property name="ShoulderYaw_xy" value="${6.7770698e-01 * mm2Tom2}"/>
    <xacro:property name="ShoulderYaw_xz" value="${-7.4060192e+00 * mm2Tom2}"/>
    <xacro:property name="ShoulderYaw_yy" value="${1.9177420e+03 * mm2Tom2}"/>
    <xacro:property name="ShoulderYaw_yz" value="${-3.9949027e+01 * mm2Tom2}"/>
    <xacro:property name="ShoulderYaw_zz" value="${1.9116332e+03 * mm2Tom2}"/>
    
    <!-- Shoulder Pitch -->
    <xacro:property name="ShoulderPitch_mass" value="2.6972599e+00"/>

    <xacro:property name="ShoulderPitch_x" value="${-7.4585444e-03 * mmTom}"/>
    <xacro:property name="ShoulderPitch_y" value="${-1.4775681e+02 * mmTom}"/>
    <xacro:property name="ShoulderPitch_z" value="${-1.7955048e+00 * mmTom}"/>

    <xacro:property name="ShoulderPitch_xx" value="${6.1239752e+04 * mm2Tom2}"/>
    <xacro:property name="ShoulderPitch_xy" value="${-1.9752319e+01 * mm2Tom2}"/>
    <xacro:property name="ShoulderPitch_xz" value="${-5.9550041e+00 * mm2Tom2}"/>
    <xacro:property name="ShoulderPitch_yy" value="${3.2676405e+03 * mm2Tom2}"/>
    <xacro:property name="ShoulderPitch_yz" value="${-4.0271623e+02 * mm2Tom2}"/>
    <xacro:property name="ShoulderPitch_zz" value="${6.1105260e+04 * mm2Tom2}"/>

   <!-- Elbow Pitch -->
    <xacro:property name="ElbowPitch_mass" value="1.0484770"/>

    <xacro:property name="ElbowPitch_x" value="${-3.2761312e-01 * mmTom}"/>
    <xacro:property name="ElbowPitch_y" value="${-1.6511035e+02 * mmTom}"/>
    <xacro:property name="ElbowPitch_z" value="${2.2799378e+01 * mmTom}"/>

    <xacro:property name="ElbowPitch_xx" value="${1.1126010e+04 * mm2Tom2}"/>
    <xacro:property name="ElbowPitch_xy" value="${1.7724864e+01 * mm2Tom2}"/>
    <xacro:property name="ElbowPitch_xz" value="${6.0670899e+00 * mm2Tom2}"/>
    <xacro:property name="ElbowPitch_yy" value="${9.5730481e+02 * mm2Tom2}"/>
    <xacro:property name="ElbowPitch_yz" value="${-1.0167295e+03 * mm2Tom2}"/>
    <xacro:property name="ElbowPitch_zz" value="${1.1293246e+04 * mm2Tom2}"/>

    <!-- Wrist Pitch -->
    <xacro:property name="WristPitch_mass" value="8.2769760e-01"/>

    <xacro:property name="WristPitch_x" value="${-3.5889306e-01 * mmTom}"/>
    <xacro:property name="WristPitch_y" value="${-5.6046555e+01 * mmTom}"/>
    <xacro:property name="WristPitch_z" value="${-1.0441123e+01 * mmTom}"/>

    <xacro:property name="WristPitch_xx" value="${1.8979250e+03 * mm2Tom2}"/>
    <xacro:property name="WristPitch_xy" value="${1.5812980e+01 * mm2Tom2}"/>
    <xacro:property name="WristPitch_xz" value="${-8.8320155e+00 * mm2Tom2}"/>
    <xacro:property name="WristPitch_yy" value="${7.2693403e+02 * mm2Tom2}"/>
    <xacro:property name="WristPitch_yz" value="${4.4823508e+02 * mm2Tom2}"/>
    <xacro:property name="WristPitch_zz" value="${1.8533681e+03 * mm2Tom2}"/>

    <!-- Wrist Yaw -->
    <xacro:property name="WristYaw_mass" value="1.3163366e-01"/>

    <xacro:property name="WristYaw_x" value="${8.3852847e-02 * mmTom}"/>
    <xacro:property name="WristYaw_y" value="${5.6847985e-01 * mmTom}"/>
    <xacro:property name="WristYaw_z" value="${-1.8794291e+01 * mmTom}"/>

    <xacro:property name="WristYaw_xx" value="${7.7640101e+01 * mm2Tom2}"/>
    <xacro:property name="WristYaw_xy" value="${-6.2563895e-01 * mm2Tom2}"/>
    <xacro:property name="WristYaw_xz" value="${-1.2366562e-01 * mm2Tom2}"/>
    <xacro:property name="WristYaw_yy" value="${7.7918818e+01 * mm2Tom2}"/>
    <xacro:property name="WristYaw_yz" value="${--8.8392181e-01 * mm2Tom2}"/>
    <xacro:property name="WristYaw_zz" value="${1.2246055e+02 * mm2Tom2}"/>

    <!-- Dagana -->
    <xacro:property name="Dagana_mass" value="9.6534359e-01"/>

    <xacro:property name="Dagana_x" value="${-4.2244666e+00 * mmTom}"/>
    <xacro:property name="Dagana_y" value="${-2.7238215e+00 * mmTom}"/>
    <xacro:property name="Dagana_z" value="${5.3670845e+01 * mmTom}"/>

    <xacro:property name="Dagana_xx" value="${2.0957096e+03 * mm2Tom2}"/>
    <xacro:property name="Dagana_xy" value="${-6.4554109e+01 * mm2Tom2}"/>
    <xacro:property name="Dagana_xz" value="${4.4955881e+01 * mm2Tom2}"/>
    <xacro:property name="Dagana_yy" value="${2.1216529e+03 * mm2Tom2}"/>
    <xacro:property name="Dagana_yz" value="${3.7094613e+02 * mm2Tom2}"/>
    <xacro:property name="Dagana_zz" value="${1.1572224e+03 * mm2Tom2}"/>

    <!-- Dagana Claw -->
    <xacro:property name="DaganaClaw_mass" value="2.5739835e-01"/>

    <xacro:property name="DaganaClaw_x" value="${-5.1620300e+01 * mmTom}"/>
    <xacro:property name="DaganaClaw_y" value="${8.0601187e+00 * mmTom}"/>
    <xacro:property name="DaganaClaw_z" value="${-3.7212096e+01 * mmTom}"/>

    <xacro:property name="DaganaClaw_xx" value="${2.9169897e+02 * mm2Tom2}"/>
    <xacro:property name="DaganaClaw_xy" value="${8.3015178e+00 * mm2Tom2}"/>
    <xacro:property name="DaganaClaw_xz" value="${1.3355847e+01 * mm2Tom2}"/>
    <xacro:property name="DaganaClaw_yy" value="${7.3268589e+02 * mm2Tom2}"/>
    <xacro:property name="DaganaClaw_yz" value="${-2.1083033e+00 * mm2Tom2}"/>
    <xacro:property name="DaganaClaw_zz" value="${5.1112938e+02 * mm2Tom2}"/>


</robot>
