<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- macro legs -->
<xacro:macro name="kyon_dagana" params="arm_num parent">

<link name="dagana${arm_num}_base">
    <inertial>
        <origin xyz="0.0 0.0 0.0"/>
        <mass value="${motorA_mass}"/>
        <inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
    </inertial>
    <visual>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="package://kyon_urdf/meshes/mesh_dagana-base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_grey"/>
    </visual>
    <collision>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="package://kyon_urdf/meshes/collision/mesh_dagana-base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
</link>

<link name="dagana${arm_num}_clamp">
    <inertial>
        <origin xyz="0.0 0.0 0.0"/>
        <mass value="${motorA_mass}"/>
        <inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
    </inertial>
    <visual>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="package://kyon_urdf/meshes/mesh_dagana-clamp.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="dark_grey"/>
    </visual>
    <collision>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="package://kyon_urdf/meshes/collision/mesh_dagana-clamp.stl" scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>
</link>

<joint name="dagana${arm_num}_base_joint" type="fixed">
    <parent link="${parent}"/>
    <child link="dagana${arm_num}_base"/>
    <origin xyz="${DaganaBase_Ox} ${DaganaBase_Oy} ${DaganaBase_Oz}" rpy="${DaganaBase_roll} ${DaganaBase_pitch} ${DaganaBase_yaw}"/>
</joint>

<joint name="dagana${arm_num}_clamp_joint" type="revolute">
    <parent link="dagana${arm_num}_base"/>
    <child link="dagana${arm_num}_clamp"/>
    <origin xyz="${DaganaClamp_Ox} ${DaganaClamp_Oy} ${DaganaClamp_Oz}" rpy="${DaganaClamp_roll} ${DaganaClamp_pitch} ${DaganaClamp_yaw}"/>
    <axis xyz="0 0 1"/>
    <limit lower="${dagana_lower[arm_num-1]}" upper="${dagana_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/> 
</joint>

</xacro:macro>
</robot>