<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- include end-effectors -->
<xacro:include filename="$(find kyon_urdf)/urdf/parts/foot_leg.urdf.xacro" />
<xacro:include filename="$(find kyon_urdf)/urdf/parts/steering_wheel.urdf.xacro" />

<!-- macro legs -->
<xacro:macro name="kyon_leg" params="leg_num origin_x origin_y mirror">

<!-- links -->

<link name="hip_roll_${leg_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${mirror*MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${mirror*MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<!-- <cylinder radius="${cylinder_radius}" length="${cylinder_length}"/> -->
			<mesh filename="package://kyon_urdf/meshes/mesh_hip-roll.stl" scale="0.001 ${mirror*0.001} 0.001"/>
		</geometry> 
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	 		<!-- <cylinder radius="${cylinder_radius}" length="${cylinder_length}"/> -->
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_hip-roll.stl" scale="0.001 ${mirror*0.001} 0.001"/>
		</geometry> 
	</collision>
</link>

<link name="hip_pitch_${leg_num}">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motorA_mass}"/>
		<inertia ixx="${MotorA_xx}" ixy="${MotorA_xy}" ixz="${MotorA_xz}" iyy="${MotorA_yy}" iyz="${MotorA_yz}" izz="${MotorA_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<mesh filename="package://kyon_urdf/meshes/mesh_hip-pitch.stl" scale="0.001 0.001 0.001"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_hip-pitch.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<!-- joints -->

<joint name="hip_roll_${leg_num}" type="revolute">
	<parent link="pelvis"/>
	<child link="hip_roll_${leg_num}"/>
	<origin xyz="${origin_x * HipRoll_Ox} ${origin_y * HipRoll_Oy} ${HipRoll_Oz}" rpy="${HipRoll_roll} ${origin_x*HipRoll_pitch} ${HipRoll_yaw}"/>
	<axis xyz="0 0 1"/>
    <limit lower="${hip_roll_lower[leg_num-1]}" upper="${hip_roll_upper[leg_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/> 
</joint>

<joint name="hip_pitch_${leg_num}" type="revolute">
	<parent link="hip_roll_${leg_num}"/>
	<child link="hip_pitch_${leg_num}"/>
	<origin xyz="${origin_x * HipPitch_Ox} ${origin_y * HipPitch_Oy} ${HipPitch_Oz}" rpy="${origin_y*HipPitch_roll} ${origin_x*origin_y*HipPitch_pitch} ${HipPitch_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${hip_pitch_lower[leg_num-1]}" upper="${hip_pitch_upper[leg_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/> 
</joint>

<xacro:if value="${ADD_FEET}">
	<xacro:foot_leg leg_num="${leg_num}" parent="hip_pitch_${leg_num}" origin_x="${origin_x}" origin_y="${origin_y}" mirror="${mirror}"/>
</xacro:if>

<xacro:if value="${ADD_STEERING_WHEELS}">
	<xacro:steering_wheel leg_num="${leg_num}" parent="hip_pitch_${leg_num}" origin_x="${origin_x}" origin_y="${origin_y}" mirror="${mirror}"/>
</xacro:if>


</xacro:macro>

<!-- /macro legs -->
</robot>
