<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find kyon_urdf)/urdf/parts/kyon_dagana.urdf.xacro"/>

<!-- macro arms -->
<xacro:macro name="kyon_arm" params="arm_num rot parent">
	
<!-- LINKS -->
<!-- shoulder yaw -->
<link name="shoulder_yaw_${arm_num}_link">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motor_arm1_mass + 0.68}"/>   
		<inertia ixx="${MotorArm1_xx}" ixy="${MotorArm1_xy}" ixz="${MotorArm1_xz}" iyy="${MotorArm1_yy}" iyz="${MotorArm1_yz}" izz="${MotorArm1_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/mesh_sh-yaw.stl" scale="0.001 0.001 0.001"/>
		</geometry>
		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_sh-yaw.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<link name="shoulder_pitch_${arm_num}_link">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${lower_arm_mass + motor_arm2_mass}"/>
		<inertia ixx="${LowerArm_xx}" ixy="${LowerArm_xy}" ixz="${LowerArm_xz}" iyy="${LowerArm_yy}" iyz="${LowerArm_yz}" izz="${LowerArm_zz}"/>
	</inertial>
	<visual>
	  	<geometry>
	 		<mesh filename="package://kyon_urdf/meshes/mesh_sh-pitch.stl" scale="0.001 0.001 0.001"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
	  	<geometry>
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_sh-pitch.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<link name="elbow_pitch_${arm_num}_link">
	<inertial>
		<origin xyz="${upper_arm1_length / 2} 0.0 0.0"/>	
		<mass value="${upper_arm1_mass}"/>
		<inertia ixx="${UpperArm1_xx}" ixy="${UpperArm1_xy}" ixz="${UpperArm1_xz}" iyy="${UpperArm1_yy}" iyz="${UpperArm1_yz}" izz="${UpperArm1_zz}"/>
	</inertial>
	<visual>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/mesh_elbow.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</visual>
	<collision>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/mesh_elbow.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<link name="wrist_pitch_${arm_num}_link">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motor_arm3_mass}"/>
		<inertia ixx="${MotorArm3_xx}" ixy="${MotorArm3_xy}" ixz="${MotorArm3_xz}" iyy="${MotorArm3_yy}" iyz="${MotorArm3_yz}" izz="${MotorArm3_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<mesh filename="package://kyon_urdf/meshes/mesh_wrist-pitch.stl" scale="0.001 0.001 0.001"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_wrist-pitch.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<link name="wrist_yaw_${arm_num}_link">
	<inertial>
		<origin xyz="0.0 0.0 0.0"/>
		<mass value="${motor_arm3_mass}"/>
		<inertia ixx="${MotorArm3_xx}" ixy="${MotorArm3_xy}" ixz="${MotorArm3_xz}" iyy="${MotorArm3_yy}" iyz="${MotorArm3_yz}" izz="${MotorArm3_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
	 		<mesh filename="package://kyon_urdf/meshes/mesh_wrist-yaw.stl" scale="0.001 0.001 0.001"/>
	  	</geometry>
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<mesh filename="package://kyon_urdf/meshes/collision/mesh_wrist-yaw.stl" scale="0.001 0.001 0.001"/>
		</geometry>
	</collision>
</link>

<!-- /LINKS -->

<!-- JOINTS -->
<!-- shoulder yaw -->
<joint name="shoulder_yaw_${arm_num}" type="revolute">
	<parent link="${parent}"/>
	<child link="shoulder_yaw_${arm_num}_link"/>
	<origin xyz="${ShoulderYaw_Ox} ${rot * ShoulderYaw_Oy} ${ShoulderYaw_Oz}" rpy="${-rot * ShoulderYaw_roll} ${ShoulderYaw_pitch} ${ShoulderYaw_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_shoulder_yaw_lower[arm_num-1]}" upper="${j_shoulder_yaw_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<!-- arm pitch 1 -->
<joint name="shoulder_pitch_${arm_num}" type="revolute">
	<parent link="shoulder_yaw_${arm_num}_link"/>
	<child link="shoulder_pitch_${arm_num}_link"/>
	<origin xyz="${ShoulderPitch_Ox} ${ShoulderPitch_Oy} ${ShoulderPitch_Oz}" rpy="${ShoulderPitch_roll} ${ShoulderPitch_pitch} ${ShoulderPitch_yaw  + rot * PI_2}"/>
	<axis xyz="0 1 0"/>
	<limit lower="${j_pitch_1_lower[arm_num-1]}" upper="${j_pitch_1_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<joint name="elbow_pitch_${arm_num}" type="revolute">
	<parent link="shoulder_pitch_${arm_num}_link"/>
	<child link="elbow_pitch_${arm_num}_link"/>
	<origin xyz="${ElbowPitch_Ox} ${ElbowPitch_Oy} ${ElbowPitch_Oz}" rpy="${ElbowPitch_roll} ${ElbowPitch_pitch} ${ElbowPitch_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_1_lower[arm_num-1]}" upper="${j_pitch_1_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<joint name="wrist_pitch_${arm_num}" type="revolute">
	<parent link="elbow_pitch_${arm_num}_link"/>
	<child link="wrist_pitch_${arm_num}_link"/>
	<origin xyz="${WristPitch_Ox} ${WristPitch_Oy} ${WristPitch_Oz}" rpy="${WristPitch_roll} ${WristPitch_pitch} ${WristPitch_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_2_lower[arm_num-1]}" upper="${j_pitch_2_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>
	
<joint name="wrist_yaw_${arm_num}" type="revolute">
	<parent link="wrist_pitch_${arm_num}_link"/>
	<child link="wrist_yaw_${arm_num}_link"/>
	<origin xyz="${WristYaw_Ox} ${WristYaw_Oy} ${WristYaw_Oz}" rpy="${WristYaw_roll} ${WristYaw_pitch} ${WristYaw_yaw}"/>
	<axis xyz="0 0 1"/>
	<limit lower="${j_pitch_2_lower[arm_num-1]}" upper="${j_pitch_2_upper[arm_num-1]}" effort="${motor_effort}" velocity="${motor_velocity}"/>
</joint>

<xacro:if value="${ADD_DAGANA}">
	<xacro:kyon_dagana arm_num="${arm_num}" parent="wrist_yaw_${arm_num}_link"/>
</xacro:if>

</xacro:macro>
<!-- /macro arms -->

</robot>
