<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- macro legs -->
<xacro:macro name="wheel_leg" params="leg_num parent origin_x origin_y mirror">

<link name="knee_pitch_${leg_num}_link">
    <inertial>
        <origin xyz="${KneePitchWheel_x} ${KneePitchWheel_y} ${KneePitchWheel_z}"/>
        <mass value="${KneePitchWheel_mass}"/>
        <inertia ixx="${KneePitchWheel_xx}" ixy="${mirror*KneePitchWheel_xy}" ixz="${mirror*KneePitchWheel_xz}" iyy="${KneePitchWheel_yy}" iyz="${KneePitchWheel_yz}" izz="${KneePitchWheel_zz}"/>
    </inertial>
    <visual>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="${MESH_PATH}/mesh_fixed-wheel-leg.stl" scale="${mirror*0.001} 0.001 0.001"/>
        </geometry>
        <material name="dark_grey"/>
    </visual>
    <collision>
        <origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
        <geometry>
            <mesh filename="${MESH_PATH}/collision/mesh_fixed-wheel-leg.stl" scale="${mirror*0.001} 0.001 0.001"/>
        </geometry>
    </collision>
</link>

<link name="wheel_${leg_num}">
    <inertial>
		<origin xyz="${Wheel_x} ${Wheel_y} ${Wheel_z}"/>
		<mass value="${Wheel_mass}"/>
		<inertia ixx="${Wheel_xx}" ixy="${Wheel_xy}" ixz="${Wheel_xz}" iyy="${Wheel_yy}" iyz="${Wheel_yz}" izz="${Wheel_zz}"/>
	</inertial>
	<visual>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
	  	<geometry>
			<mesh filename="${MESH_PATH}/mesh_wheel.stl" scale="0.001 0.001 0.001"/>
		</geometry> 
  		<material name="dark_grey"/>
	</visual>
	<collision>
		<origin xyz="0.0 0.0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
			<!-- <mesh filename="${MESH_PATH}/collision/mesh_wheel.stl" scale="0.001 0.001 0.001"/> -->
            <cylinder radius="0.11" length="0.045"/>
		</geometry> 
	</collision>
</link>

<link name="contact_${leg_num}"/>

<joint name="knee_pitch_${leg_num}" type="revolute">
    <parent link="${parent}"/>
    <child link="knee_pitch_${leg_num}_link"/>
    <origin xyz="${KneePitch_Ox} ${KneePitch_Oy} ${KneePitch_Oz}" rpy="${KneePitch_roll} ${KneePitch_pitch} ${KneePitch_yaw}"/>
    <axis xyz="0 0 -1"/>
    <limit lower="${knee_pitch_lower[leg_num-1]}" upper="${knee_pitch_upper[leg_num-1]}" effort="${motorA_effort}" velocity="${motorA_velocity}"/> 
</joint>

<joint name="wheel_joint_${leg_num}" type="continuous">
    <parent link="knee_pitch_${leg_num}_link"/>
    <child link="wheel_${leg_num}"/>
    <origin xyz="${Wheel_Ox} ${Wheel_Oy} ${Wheel_Oz}" rpy="${Wheel_roll} ${Wheel_pitch} ${Wheel_yaw}"/>
    <axis xyz="0 0 1"/>
    <limit effort="${motorWheel_effort}" velocity="${motorWheel_velocity}"/>
</joint>

<joint name="contact_${leg_num}_joint" type="fixed">
    <parent link="wheel_${leg_num}"/>
    <child link="contact_${leg_num}"/>
</joint>

</xacro:macro>
</robot>
