<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cetc_sat">

<!-- 
  ROS urdf definition of the CETC-SAT quadruped robot by Istituto Italiano di Tecnologia
  
  Author: Luca Rossini
-->

<xacro:include filename="$(find CETC_SAT_description)/cetc_sat_urdf/urdf/utils.urdf.xacro" />
<xacro:include filename="$(find CETC_SAT_description)/cetc_sat_urdf/urdf/parts/kinematics_properties.urdf.xacro" />
<!--xacro:include filename="$(find cetc_sat_urdf)/urdf/parts/inertial_properties.urdf.xacro" /-->
<xacro:include filename="$(find CETC_SAT_description)/cetc_sat_urdf/urdf/parts/limits.urdf.xacro" />


<link name="base_link"/>

<link name="pelvis">
	<visual>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	 		<box size="${pelvis_length} ${pelvis_width} ${pelvis_height}"/>
		</geometry>
	</visual>
	<collision>
		<origin xyz="0.0 0 0.0"  rpy="0.0 0.0 0.0"/>
		<geometry>
	  		<box size="${pelvis_length} ${pelvis_width} ${pelvis_height}"/>
		</geometry>
	</collision>
</link>

<joint name="base_joint" type="fixed">
    <parent link="pelvis"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
</joint>


<xacro:if value="${ADD_UPPER_BODY}">
    <xacro:include filename="$(find CETC_SAT_description)/cetc_sat_urdf/urdf/parts/arms.urdf.xacro" />
</xacro:if>

<xacro:if value="${ADD_LEGS}">
	<xacro:include filename="$(find CETC_SAT_description)/cetc_sat_urdf/urdf/parts/legs.urdf.xacro" />
</xacro:if>

</robot>

