<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

<xacro:property name="model_name" value="kyon" />
<xacro:property name="model_version" value="0.1" />


<!-- command line arguments -->
<xacro:arg name="legs" default="true"/>
<xacro:arg name="arms" default="true"/>
<xacro:arg name="wheels" default="false"/>
<xacro:arg name="floating_joint" default="true"/>
<xacro:arg name="camera_front_up" default="false"/>
<xacro:arg name="camera_front_down" default="false"/>
<xacro:arg name="battery" default="true"/>
<xacro:arg name="lidar" default="false"/>
<xacro:arg name="add_collision" default="true"/>
<xacro:arg name="hesai_jt128" default="false"/>
<xacro:arg name="add_fixed_base_joint" default="false"/>
<xacro:arg name="fixed_base_x" default="0.0"/>
<xacro:arg name="fixed_base_y" default="0.0"/>
<xacro:arg name="fixed_base_z" default="0.0"/>
<xacro:arg name="visual_mesh_subfolder" default="visual_lowres"/> <!-- pass an empty string to get the original high resolution meshes -->


<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="ADD_LEGS" value="$(arg legs)"/>
<xacro:property name="ADD_ARMS" value="$(arg arms)"/>
<xacro:property name="ADD_CAMERAS" value="$(arg cameras)"/>
<xacro:property name="ADD_FU_CAMERA" value="$(arg camera_front_up)"/>
<xacro:property name="ADD_FD_CAMERA" value="$(arg camera_front_down)"/>
<xacro:property name="ADD_WHEELS" value="$(arg wheels)"/>
<xacro:property name="ADD_BATTERY" value="$(arg battery)"/>
<xacro:property name="ADD_FLOATING_BASE" value="$(arg floating_joint)"/>
<xacro:property name="ADD_LIDAR" value="$(arg lidar)"/>
<xacro:property name="ADD_HESAI_JT128" value="$(arg hesai_jt128)"/>
<xacro:property name="ADD_VIRTUAL_FRAME" value="false" />
<xacro:property name="ADD_COLLISION" value="$(arg add_collision)"/>
<xacro:property name="PAYLOAD" value="$(arg payload)"/>
<xacro:property name="VISUAL_MESH_SUBFOLDER" value="$(arg visual_mesh_subfolder)"/>

<xacro:property name="ADD_FIXED_BASE" value="$(arg add_fixed_base_joint)"/>
<xacro:property name="FIXED_BASE_X" value="$(arg fixed_base_x)"/>
<xacro:property name="FIXED_BASE_Y" value="$(arg fixed_base_y)"/>
<xacro:property name="FIXED_BASE_Z" value="$(arg fixed_base_z)"/>

</robot>
