<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kyon">

<xacro:property name="model_name" value="kyon" />
<xacro:property name="model_version" value="0.1" />


<!-- command line arguments -->
<xacro:arg name="legs" default="true"/>
<xacro:arg name="upper_body" default="true"/>
<xacro:arg name="wheels" default="false"/>
<xacro:arg name="floating_joint" default="true"/>
<xacro:arg name="cameras" default="false"/>
<xacro:arg name="payload" default="false"/>
<xacro:arg name="varta" default="false"/>
<xacro:arg name="d034_li_ion" default="false"/>
<xacro:arg name="velodyne" default="false"/>
<xacro:arg name="dagana" default="$(arg upper_body)"/>
<xacro:arg name="foot_contact_collision" default="true"/>


<!-- ************SELECT PARTS*************-->
<!-- *************************************-->
<xacro:property name="ADD_LEGS" value="$(arg legs)"/>
<xacro:property name="ADD_UPPER_BODY" value="$(arg upper_body)"/>
<xacro:property name="ADD_DAGANA" value="$(arg dagana)"/>
<xacro:property name="ADD_CAMERAS" value="$(arg cameras)"/>
<xacro:property name="ADD_WHEELS" value="$(arg wheels)"/>
<xacro:property name="ADD_VARTA" value="$(arg varta)"/>
<xacro:property name="ADD_D034_LI_ION" value="$(arg d034_li_ion)"/>
<xacro:property name="ADD_FLOATING_BASE" value="$(arg floating_joint)"/>
<xacro:property name="ADD_VELODYNE" value="$(arg velodyne)"/>
<xacro:property name="ADD_VIRTUAL_FRAME" value="false" />
<xacro:property name="PAYLOAD" value="$(arg payload)"/>
<xacro:property name="FOOT_CONTACT_COLLISION" value="$(arg foot_contact_collision)"/>

</robot>
