<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:if value="${ADD_LEGS}">

        <gazebo reference="hip_roll_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:if>

    <xacro:if value="${ADD_UPPER_BODY}">
        <gazebo reference="shoulder_yaw_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>


        <gazebo reference="shoulder_yaw_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:if>

</robot>
