<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:if value="${ADD_LEGS}">


<!--

        <gazebo reference="imu_link">
            <sensor name="imu_link" type="imu">
                <always_on>1</always_on>
                <update_rate>500</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <imu>

                </imu>
            </sensor>
        </gazebo>
-->
        <gazebo reference="ball_1">
            <material>Gazebo/Residential </material>
            <collision>
                <surface>
                    <friction>
                        <!-- <torsional>
                            <coefficient> 1.0 </coefficient>
                            <use_patch_radius>true</use_patch_radius>
                            <patch_radius>0.2</patch_radius>
                        </torsional> -->
                        <ode>
                            <mu>1.0</mu>
                            <mu2>1.0</mu2>
                        </ode>
                        <bullet>
                            <friction>1.0</friction>
                            <friction2>1.0</friction2>
                        </bullet>
                    </friction>
                    <contact>
                        <ode>
                            <kp>2100000</kp>
                            <kd>1</kd>
                            <max_vel>100</max_vel>
                        </ode>
                        <bullet>
                            <soft_cfm>0.007</soft_cfm>
                            <soft_erp>0.25</soft_erp>
                            <kp>1000000</kp>
                            <kd>5</kd>
                        </bullet>
                    </contact>
                </surface>
            </collision>
        </gazebo>

        <gazebo reference="ball_2">
            <material>Gazebo/Residential</material>
            <collision>
                <surface>
                    <friction>
                        <!-- <torsional>
                            <coefficient> 1.0 </coefficient>
                            <use_patch_radius>true</use_patch_radius>
                            <patch_radius>0.2</patch_radius>
                        </torsional> -->
                        <ode>
                            <mu>1.0</mu>
                            <mu2>1.0</mu2>
                        </ode>
                        <bullet>
                            <friction>1.0</friction>
                            <friction2>1.0</friction2>
                        </bullet>
                    </friction>
                    <contact>
                        <ode>
                            <kp>2100000</kp>
                            <kd>1</kd>
                            <max_vel>100</max_vel>
                        </ode>
                        <bullet>
                            <soft_cfm>0.007</soft_cfm>
                            <soft_erp>0.25</soft_erp>
                            <kp>1000000</kp>
                            <kd>5</kd>
                        </bullet>
                    </contact>
                </surface>
            </collision>
        </gazebo>

        <gazebo reference="ball_3">
            <material>Gazebo/Residential </material>
            <collision>

                <surface>
                    <friction>
                        <!-- <torsional>
                            <coefficient> 1.0 </coefficient>
                            <use_patch_radius>true</use_patch_radius>
                            <patch_radius>0.2</patch_radius>
                        </torsional> -->
                        <ode>
                            <mu>1.0</mu>
                            <mu2>1.0</mu2>
                        </ode>
                        <bullet>
                            <friction>1.0</friction>
                            <friction2>1.0</friction2>
                        </bullet>
                    </friction>
                    <contact>
                        <ode>
                            <kp>2100000</kp>
                            <kd>1</kd>
                            <max_vel>100</max_vel>
                        </ode>
                        <bullet>
                            <soft_cfm>0.007</soft_cfm>
                            <soft_erp>0.25</soft_erp>
                            <kp>1000000</kp>
                            <kd>5</kd>
                        </bullet>
                    </contact>
                </surface>
            </collision>
        </gazebo>
        <gazebo reference="ball_4">
            <material>Gazebo/Residential</material>
            <collision>
                <surface>
                    <friction>
                        <!-- <torsional>
                            <coefficient> 1.0 </coefficient>
                            <use_patch_radius>true</use_patch_radius>
                            <patch_radius>0.2</patch_radius>
                        </torsional> -->
                        <ode>
                            <mu>1.0</mu>
                            <mu2>1.0</mu2>
                        </ode>
                        <bullet>
                            <friction>1.0</friction>
                            <friction2>1.0</friction2>
                        </bullet>
                    </friction>
                    <contact>
                        <ode>
                            <kp>2100000</kp>
                            <kd>1</kd>
                            <max_vel>100</max_vel>
                        </ode>
                        <bullet>
                            <soft_cfm>0.007</soft_cfm>
                            <soft_erp>0.25</soft_erp>
                            <kp>1000000</kp>
                            <kd>5</kd>
                        </bullet>
                    </contact>
                </surface>
            </collision>
        </gazebo>


        <gazebo reference="hip_roll_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_stator_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_stator_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="ball_joint_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_stator_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_stator_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="ball_joint_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_stator_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_stator_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="ball_joint_3">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

        <gazebo reference="hip_roll_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_stator_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hip_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_stator_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="knee_pitch_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="ball_joint_4">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:if>

    <xacro:if value="${ADD_UPPER_BODY}">
        <gazebo reference="shoulder_yaw_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_stator_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_stator_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hand_joint_1">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>


        <gazebo reference="shoulder_yaw_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_stator_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="shoulder_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_stator_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="elbow_pitch_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>
        <gazebo reference="hand_joint_2">
            <implicitSpringDamper>1</implicitSpringDamper>
            <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:if>

</robot>
